@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #f18e02;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

::-webkit-scrollbar-track {
    background: #d1d8ee;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*===============================================COR DA WIKI PADRÃO===============================================*/

/* :root {
    --bg-asidecolor: #01445fcf;
    --bg-boxcolor: #01445fcf;
    --fontcolor: #fec16a;
    --table-color: #5c6975;
    --table-color2: #434c55;
    font-size: 62.5%;
} */
/*===============================================COR DA WIKI MARROM===============================================*/

:root {
    --bg-asidecolor: #241001;
    --bg-boxcolor: #2e1501e6;
    --fontcolor: #fec16a;
    --table-color: #5c6975;
    --table-color2: #434c55;
    font-size: 62.5%;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    /* font-family: 'Patrick Hand', cursive; */
    /* font-family: 'Akshar', sans-serif; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body div.content-web {
    display: flex;
    flex-direction: row;
}

/*===============================================================BARRA LATERAL===============================================================*/
body div.content-web aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-asidecolor);
    border-right: 1px solid #fec16a;
    width: 20rem;
    height: 100vh;
    gap: 2.5rem;
}

body div.content-web aside img {
    margin-top: 1rem;
    width: 20rem;
}

body div.content-web aside button {
    background-color: var(--bg-asidecolor);
    color: var(--fontcolor);
    border-radius: 1rem;
    border: 1px solid #fec16a;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    width: 15rem;
    padding: 0.2rem;
    padding-block: 0.3rem;
}

body div.content-web aside button a {
    text-decoration: none;
    color: var(--fontcolor);
}

body div.content-web aside footer p {
    font-size: 1.4rem;
    color: var(--fontcolor);
    /* NOVO  */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body div.content-web aside footer a {
    font-size: 1.5rem;
    color: var(--fontcolor);
}

/*=================================================================PRINCIPAL=================================================================*/
body div.content-web main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/images-background.png);
    background-size: cover;
}

body div.content-web main div.espaconav {
    display: none;
}

body div.content-web main div.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-boxcolor);
    width: 90%;
    height: 8rem;
    border-radius: 1rem;
    border: 2px solid #fec16a;
    text-align: center;
    color: var(--fontcolor);
}

body div.content-web main div.welcome h1 {
    font-size: 4rem;
}

body div.content-web main div.welcome p {
    font-size: 2rem;
    font-weight: bold;
}

/*=============================================================JANELA DOS MIXES=============================================================*/
body div.content-web main div.mixwindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div.content-web main div.mixwindow div.titulo-main h1 {
    font-size: 5rem;
    color: var(--fontcolor);
}

body div.content-web main div.mixwindow div.seletor {
    display: flex;
    gap: 2rem;
}

body div.content-web main div.mixwindow div.seletor button {
    background-color: var(--bg-asidecolor);
    color: var(--fontcolor);
    border: 1px solid #fec16a;
    border-radius: 2rem;
    width: 20rem;
    height: 4rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

body div.content-web main div.mixwindow table {
    margin-top: 2rem;
    background-color: var(--table-color);
    /* width: 60rem; */
    height: 15rem;
    color: white;
    font-family: 'Akshar', sans-serif;
    font-size: 1.8rem;
}

body div.content-web main div.mixwindow table tr {
    height: 3.5rem;
}

body div.content-web main div.mixwindow table tbody tr td:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}


/*=============================================================JANELAS DOS AGES=============================================================*/

body div.content-web main div.agewindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body div.content-web main div.agewindow div.titulo-main {
    text-align: center;
    font-size: 2rem;
    height: fit-content;
    color: var(--fontcolor);
}

body div.content-web main div.agewindow div {
    width: 100%;
    height: 100%;
}

body div.content-web main div.agewindow div table {
    background-color: var(--table-color);
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

body div.content-web main div.agewindow div table thead,
tfoot {
    background-color: var(--table-color2);
}

body div.content-web main div.agewindow div table tbody tr {
    border: 1px solid black;
    height: 2.5rem;
}

body div.content-web main div.agewindow div table tbody tr:hover {
    background-color: var(--table-color2);
    color: var(--fontcolor);
    font-weight: bold;
}

/*================================================================JANELA SHOP================================================================*/

body div.content-web main div.shopwindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body div.content-web main div.shopwindow div.titulo-main {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--fontcolor);
}

body div.content-web main div.shopwindow div.seletor button {
    width: 16rem;
    height: 2.5rem;
    background-color: var(--bg-boxcolor);
    color: #fec16a;
    border: 1px solid #fec16a;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
}

body div.content-web main div.shopwindow div.item-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.shopwindow div.item-area div.item-box {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 22rem;
}

body div.content-web main div.shopwindow div.item-area div.item-box div.area-preta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 22rem;
    background: black;
    border-radius: 8px 0px 0px 8px;
}

body div.content-web main div.shopwindow div.item-area div.item-box div.info-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    height: 100%;
    font-size: 1.2rem;
    background-color: var(--bg-boxcolor);
    color: var(--fontcolor);
    border-radius: 0px 8px 8px 0px;
}

body div.content-web main div.shopwindow div.item-area div.item-box div.info-area p {
    font-size: 1.4rem;
}

/*============================================================JANELA EQUIPAMENTOS============================================================*/

body div.content-web main div.equipswindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

body div.content-web main div.equipswindow div.titulo-main {
    font-size: 2rem;
    color: var(--fontcolor);
}

body div.content-web main div.equipswindow div.seletor {
    display: flex;
    height: fit-content;
    margin-bottom: 1.5rem;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--bg-boxcolor);
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 20px 20px 4px 8px #00000090;
}

body div.content-web main div.equipswindow div.seletor div {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

body div.content-web main div.equipswindow div.seletor div p {
    font-size: 2.5rem;
    text-align: center;
    color: var(--fontcolor);
}

body div.content-web main div.equipswindow div.seletor div button {
    background-color: var(--bg-boxcolor);
    color: var(--fontcolor);
    border: 1px solid #fec16a;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

body div.content-web main div.equipswindow div.seletor div button:hover {
    background-color: var(--table-color2);
}

body div.content-web main div.equipswindow div.item-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.equipswindow div.item-area div.item-box {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 22rem;
}

body div.content-web main div.equipswindow div.item-area div.item-box div.area-preta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 22rem;
    background: black;
    border-radius: 8px 0px 0px 8px;
}

body div.content-web main div.equipswindow div.item-area div.item-box div.info-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    height: 100%;
    font-size: 1.2rem;
    background-color: var(--bg-boxcolor);
    color: var(--fontcolor);
    border-radius: 0px 8px 8px 0px;
}

/*===============================================JANELA MAPAS===============================================*/

body div.content-web main div.mapswindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

body div.content-web main div.mapswindow div.titulo-main {
    font-size: 2rem;
    color: var(--fontcolor);
}

body div.content-web main div.mapswindow div.mapa-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg-boxcolor);
    color: var(--fontcolor);
    border-radius: 1rem;
    width: 50rem;
    height: 45rem;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.area-preta {
    background: black;
    width: 34rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.area-preta img {
    width: 25rem;
    height: 25rem;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.info-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.info-area ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.info-area ul li {
    font-size: 1.8rem;
}

body div.content-web main div.mapswindow div.mapa-area div.mapa-box div.info-area p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/*================================================JANELA XP================================================*/

body div.content-web main div.experiencewindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body div.content-web main div.experiencewindow div.titulo-main {
    text-align: center;
    font-size: 2rem;
    height: fit-content;
    color: var(--fontcolor);
}

body div.content-web main div.experiencewindow div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.experiencewindow div table {
    background-color: var(--table-color);
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

body div.content-web main div.experiencewindow div table thead {
    font-size: 2rem;
    background-color: var(--table-color2);
}

body div.content-web main div.experiencewindow div table tbody tr {
    border: 1px solid black;
    height: 2.5rem;
}

body div.content-web main div.experiencewindow div table tbody tr:hover {
    background-color: var(--table-color2);
    color: var(--fontcolor);
}

body div.content-web main div.bosseswindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body div.content-web main div.bosseswindow div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.bosseswindow table {
    width: 100%;
    height: 100%;
    background-color: var(--table-color);
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

body div.content-web main div.bosseswindow table tr {
    border: 1px solid black;
    height: 3rem;
}

body div.content-web main div.bosseswindow table thead tr {
    background-color: var(--table-color2);
}

body div.content-web main div.bosseswindow table tr:hover {
    background-color: var(--table-color2);
}

body div.content-web main div.bosseswindow table tr:hover td.nasce {
    background-color: green;
    animation: changeColor 2s forwards;
}

@keyframes changeColor {
    0% {
        background-color: green;
    }

    25% {
        background: linear-gradient(green, green, lime);

    }

    50% {
        background: linear-gradient(green, lime);
    }

    100% {
        background-color: lime;
    }
}

body div.content-web main div.bosseswindow table tr td {
    border: 1px solid black;
}

body div.content-web main div.bosseswindow table tr td.nasce {
    background-color: #fec16a;
}

/* ====EMOJIS==== */

body div.content-web main div.emojiwindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body div.content-web main div.emojiwindow div.titulo-main {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--fontcolor);
}

body div.content-web main div.emojiwindow div.seletor button {
    width: 16rem;
    height: 2.5rem;
    background-color: var(--bg-boxcolor);
    color: #fec16a;
    border: 1px solid #fec16a;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
}

body div.content-web main div.emojiwindow div.item-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body div.content-web main div.emojiwindow div.item-area div.item-box {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 22rem;
}

body div.content-web main div.emojiwindow div.item-area div.item-box div.area-preta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 22rem;
    background: black;
    border-radius: 8px 0px 0px 8px;
}

body div.content-web main div.emojiwindow div.item-area div.item-box div.area-preta img {
    width: 2rem;
    height: 2rem;
}

body div.content-web main div.emojiwindow div.item-area div.item-box div.info-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 30rem;
    height: 100%;
    font-size: 1.8rem;
    background-color: var(--bg-boxcolor);
    color: var(--fontcolor);
    border-radius: 0px 8px 8px 0px;
}

body div.content-web main div.emojiwindow div.item-area div.item-box div.info-area p span {
    color: lime;
}