::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #f18e02;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

::-webkit-scrollbar-track {
    background: #d1d8ee;
}

body {
    background-color: var(--cor0);
    display: flex;
    /* font-family: 'Patrick Hand', cursive; */
    font-size: 2em;
    color: #fec16a;
    height: 100vh;
}

.titulo-main2 {
    border-bottom: 1px solid #fec16a;
    text-align: center;
    width: 100%;
}

.table_header {
    font-weight: bold;
    background-color: #414141;
    color: #ccc;
}

.row0 {
    background-color: #999999;
}

.row1 {
    background-color: #666666;
}